body {
  margin: 0px;
  font-family: Oswald;
  background-color: antiquewhite;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navigation {
  text-align: right;
  display: flex;
  gap: 1rem;
  height: 75px;
  font-size: 1.5rem;
  gap: 30px;
}

a {
  text-decoration: none;
  padding-top: 10px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: black;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px;
  border-style: solid;
  border-radius: .5rem;
  border-color: cadetblue;
  padding-left: 20px;
  padding-right: 20px;
  gap: 100px;
  color: black;
}

li > a:visited, a:link {
  color: rgb(93, 60, 140);
}  

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-wrapper button {
  width: 100px;
}

.article-post {
  min-height: 100px;
  text-align: left;
}

.new-post {
  text-align: right;
  margin-bottom: 20px;
  display: flex;
  align-self: end;
}
.new-post a {
  padding: 10px;
  border: 2px;
  border-style: solid;
  border-radius: .3rem;
  border-color: cadetblue;
}

.articles {
  max-width: 900px;
  align-self: center;
}

.article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  
}

.article h1 {
  
}

.article button {
  margin-top: 20px;
  font-size: 1rem;
  padding: 10px;
}

/* SIGNUP = SIGNIN */

.login h1 {
  text-align: left;
}

.signup, .login {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup form, .login form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup label, .login label {
  display: flex;
  gap: 5px;
}

.signup button, .login button {
  width: 100px;
}

.save-prompt {
  color: cadetblue;
  font-size: 1.7rem;
  margin-top: 10px;
  background-color: #ddd7ce75;
  margin: auto;
  margin-top: 10px;
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border-radius: 10px;
  animation: fadeOutAnimation ease 2.5s;
  animation-iteration-count: 1;
  animation-fill-mode: both;
}

.title-container {
  display: flex;
}


@keyframes fadeOutAnimation
{
   25%
   { 
   opacity: 1;
   }

   100% 
   {
   opacity: 0;
   }
}
